* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    overflow-x: hidden;
  }
  html, body{
    overflow-x: hidden;
  }

  @media (max-width: 820px) {
   .navbar{
    max-width: 800px;
    
   }
   .navbar-nav{
      display: flex;
   }
   .hero-section{
    max-width: 820px;
   }
   .demo-content{
    max-width: 800px;
    flex-direction: column-reverse;
   }
  .d-v-r-right{
    margin: 31px 10px 0px 23px;
  }
  .d-c-left{
justify-content: center;
display: flex;
  }
  .demo-series{
    max-width: 820px;
    flex-direction: column-reverse;
  }
  .imae-right{
    display: flex;
    justify-content: center;
  }
  .parallex-section{
    max-width: 820px;
  }
  .autumn{
    max-width: 820px;
  }
  .carousel-container{
    max-width: 820px;
    min-height: 1000px;
  }
  .carousel-container p{
    max-width: 800px;
    display:flex ;
  }
  .feedback-box{
    flex-direction: column-reverse;
    min-height: 200px;
  }
  }

  @media (max-width: 768px) {
    .navbar{
     max-width: 750px;
     
    }
    .navbar-nav{
       display: flex;
    }
    .hero-section{
     max-width: 768px;
    }
    .demo-content{
     max-width: 768px;
     flex-direction: column-reverse;
    }
   .d-v-r-right{
     margin: 31px 10px 0px 23px;
   }
   .d-c-left{
 justify-content: center;
 display: flex;
   }
   .demo-series{
     max-width: 768px;
     flex-direction: column-reverse;
   }
   .imae-right{
     display: flex;
     justify-content: center;
   }
   .parallex-section{
     max-width: 768px;
   }
   .autumn{
     max-width: 768px;
   }
   .carousel-container{
     max-width: 768px;
     min-height: 1000px;
   }
   .carousel-container p{
     max-width: 768px;
     display:flex ;
   }
   .feedback-box{
     flex-direction: column-reverse;
     min-height: 200px;
   }
   }

   @media (max-width: 428px) {
    .image-items img{
      max-width: 210px;
      height: 250px;
    }
 
   .image-items-2 img{
max-width: 210px;
height: 250px;
   }
   .image-items-3 img{
    max-width: 210px;
    height: 250px;
   }
    .navbar{
     max-width: 428px;
     min-height: 100px;
    }
    .navbas{
      max-width: 420px;
      gap: .5rem;
    }
    .navbar-nav{
       display: flex;
    }
    .hero-section{
     max-width: 428px;
    }
    .demo-content{
     max-width: 428px;
     flex-direction: column-reverse;
    }
   .d-v-r-right{
     margin: 31px 10px 0px 23px;
   }
   .d-c-left{
 justify-content: center;
 display: flex;
   }
   .demo-series{
     max-width: 428px;
     flex-direction: column-reverse;
   }
   .imae-right{
     display: flex;
     justify-content: center;
   }
   .parallex-section{
     max-width: 428px;
   }
   .autumn{
     max-width: 428px;
   }
   .carousel-container{
     max-width: 428px;
     min-height: 1000px;
   }
   .carousel-container p{
     max-width: 428px;
     display:flex ;
   }
   .feedback-box{
     flex-direction: column-reverse;
     min-height: 200px;
   }
   .butt{
    max-width: 250px;
   }
  .button{
    max-width: 200px;
    height: 70px;
  }
  .now{
    max-width: 200px;
    height: 70px;
  }
  .d-c-left img{
    max-width: 428px;
    height: 300px;
  }
  .imae-right img{
    max-width: 420px;
    height: 300px;
  }
  .autumn img{
    max-width: 420px;
    height: 400px;
  }
.footer-container{
  max-width: 428px;
  flex-direction: column;

 }
       .right-i{
           max-width:428px;
   }
   @media (max-width: 390px) {
    .navbar{
     max-width: 390px;
     min-height: 100px;
    }
    .navbas{
      max-width: 390px;
      gap: .5rem;
    }
    .navbar-nav{
       display: flex;
    }
    .hero-section{
     max-width: 390px;
    }
    .demo-content{
     max-width: 390px;
     flex-direction: column-reverse;
    }
   .d-v-r-right{
     margin: 31px 10px 0px 23px;
   }
   .d-c-left{
 justify-content: center;
 display: flex;
   }
   .demo-series{
     max-width: 390px;
     flex-direction: column-reverse;
   }
   .imae-right{
     display: flex;
     justify-content: center;
   }
   .parallex-section{
     max-width: 390px;
   }
   .autumn{
     max-width: 390px;
   }
   .carousel-container{
     max-width: 390px;
     min-height: 1000px;
   }
   .carousel-container p{
     max-width: 390px;
     display:flex ;
   }
   .feedback-box{
     flex-direction: column-reverse;
     min-height: 200px;
   }
   .butt{
    max-width: 250px;
   }
  .button{
    max-width: 200px;
    height: 70px;
  }
  .now{
    max-width: 200px;
    height: 70px;
  }
  .d-c-left img{
    max-width: 390px;
    height: 300px;
  }
  .imae-right img{
    max-width: 390px;
    height: 300px;
  }
  .autumn img{
    max-width: 390px;
    height: 400px;
  }
  
   }
   @media (max-width: 320px) {
    .image-items img{
      max-width: 320px;
    }
    .image-items-2 img{
  max-width: 320px;
    }
    .image-items-3 img{
      max-width: 320px;
    }
    .navbar{
     max-width: 320px;
     min-height: 100px;
    }
    .navbas{
      max-width: 320px;
      gap: .5rem;
    }
    .navbar-nav{
       display: flex;
    }
    .hero-section{
     max-width: 320px;
    }
    .demo-content{
     max-width: 320px;
     flex-direction: column-reverse;
    }
   .d-v-r-right{
     margin: 31px 10px 0px 23px;
   }
   .d-c-left{
 justify-content: center;
 display: flex;
   }
   .demo-series{
     max-width: 320px;
     flex-direction: column-reverse;
   }
   .imae-right{
     display: flex;
     justify-content: center;
   }
   .parallex-section{
     max-width: 320px;
   }
   .autumn{
     max-width: 320px;
   }
   .carousel-container{
     max-width: 320px;
     min-height: 1000px;
   }
   .carousel-container p{
     max-width: 320px;
     display:flex ;
   }
   .feedback-box{
     flex-direction: column-reverse;
     min-height: 200px;
   }
   .butt{
    max-width: 250px;
   }
  .button{
    max-width: 200px;
    height: 70px;
  }
  .now{
    max-width: 200px;
    height: 70px;
  }
  .d-c-left img{
    max-width: 320px;
    height: 300px;
  }
  .imae-right img{
    max-width: 320px;
    height: 300px;
  }
  .autumn img{
    max-width: 320px;
    height: 400px;
  }

   }



.navbas{
  display: flex;
  
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}



  .navbar {
    width: 1498px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
   .navs-links{
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.553);
    text-decoration: none;
  }
  ul li a {
    color: rgba(0, 0, 0, 0.553);
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
  }
  ul {
    gap: 2rem;
    list-style: none;
    margin: auto;
    display: inline-flex;
    padding-left: 367px;
  }
  ul li {
    display: flex;
    gap: 4rem;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #4c4c4c;
}
  
  .hero-section {
   
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 1500px;
    height: 700px;
  }
  .h1 {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
  }
  .para-1 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
  }
  .button {
    background-color: #745cf9;
    color: white;
    border: none;
    padding: 15px 54px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: all ease-in.2s;
    
  }
  .l1 {
    list-style: none;
    color: rgba(0, 0, 0, 0.533);
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding-left: 258px;
  }
  .now {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 12px 35px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: all ease-in.2s;
  }
  .now:hover{
    background-color: white;
    color: black;
  }
  .butt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  .demo-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   max-width: 1200px;
    margin: auto;
  }
  .d-v-r-right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  .d-v-r-right h3{
    color: rgba(0, 0, 0, 0.588);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
  }
  .d-v-r-right p{
    color: rgba(0, 0, 0, 0.588);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .d-c-left{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  #d-cr-btn{
    width: 200px;
height: 54px;
color: white;
font-size: 16px;
border: none;
background-color: #745cf9;
cursor: pointer;

}
.demo-series{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   max-width: 1200px;
    margin: auto;
}
.demo-series-container{
    background-color: rgb(245, 245, 245);
}
.g-c-left{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.g-c-left h3 {
    color: rgba(0, 0, 0, 0.588);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
}
.g-c-left p{
    color: rgba(0, 0, 0, 0.588);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
 #g-c-btn{
    width: 200px;
    height: 54px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #745cf9;
    cursor: pointer;
    transition: all ease-in.2s;
 }
 .parallex-section{
    background-image: url(https://mianmoaz786.github.io/parrallex-section.jpg);
    background-size: 1900px 408px;
    background-repeat: no-repeat;
    justify-content: center;
    gap: 2rem;
    height: 408px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .parallex-section h1{
    color: white;
    font-size: 30px;
    margin: 0 1.25rem;
    line-height: 1;
    font-weight: 400;
}
 .parallex-section p{
    color: white;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    font-weight: 400;
 }
#mor-btn{
    width: 200px;
    height: 54px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #745cf9;
    cursor: pointer;
    transition: all ease-in.2s;
}
.limitless-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 408px;
}
.limitless-content h3{
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
    font-family: inherit;
}
.limitless-content p{
    text-align: center;
    color: #8c979e;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    font-weight: 400;
}
#deas-btn{
    width: 200px;
    height: 54px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #745cf9;  
   cursor: pointer;
   transition: all ease-in.2s;
  }
.autumn{
    width: 1170px;
    height: 832px;
    margin: auto;
}
.black-box{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    height: fit-content;
    background-color: black;
    
    }
    

.text-centre{
    height: 246px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;}
    .text-centre h3{
        color: white;
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
}
    .text-centre p{
        color: white;
    font-family: inherit;
    }
    .image-container{
      display: flex;
    flex-direction: column;
    gap: 8rem;
    }
    .image-card{
      display: flex;
    height: 281.25px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  
    }
    .image-items {
     width:400px ;
     height: 279px;
    }

  .image-card-2{
    display: flex;
    height: 281.25px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .imag-items-2{
    width:400px ;
    height: 279px;
  }
  
  
  .image-card-3{
    display: flex;
    height: 281.25px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .image-items-3{
    width:400px ;
    height: 279px;
  }
  .feedback-box {
    max-width: 1500px;
    justify-content: space-around;
    
    
    background-color: rgb(245, 245, 245);
    display: flex;
    box-sizing: border-box;
    align-items: center;
   
    height: 246px;
}
    .feedback-box h3 {
      font-size: 27px;
      line-height: 33px;
      color: rgba(0, 0, 0, 0.877);
      font-weight: 100;}
      .feedback-box button {
        width: 171px;
        height: 54px;
        color: white;
        font-size: 14px;
        border: none;
        background-color: #745cf9;
      cursor: pointer;
    transition: all ease-in.2s;
    }
        
       .carousel-container{
          background-image: url(https://mianmoaz786.github.io/carosal-background.jpg);
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 474px;
          background-size: 100% 474px;
          background-attachment: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;   
         gap: 2rem;
       }
      .carousel-container h1{
        color: white;
        font-weight: 400;
        font-size: 30px;
        line-height: 33px;
        font-family: sans-serif;
       
        
      }
      .carousel-container p{
        color: white;
        font-weight: 400;
        line-height: 33px;
        font-family: sans-serif;
       
        text-align: center;
       
        
      }
      .logo-i>img{
       width: 101px;
        margin: 30px 30px 40px ;
        border-radius: 50%;
        padding: 20px;
        
      }
      .footer-container{
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 183px;
        
      }
      .left-p{
        color: white;
        font-family: sans-serif;
        font-size: 14px ;
        line-height: 24px;
      }
      .right-i ul{
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
